<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Xerxes' BookStore</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">BookStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/api/v1/book/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/api/v1/book/available_books">Available Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/api/v1/book/my_books">My Books</a>
                </li>
            </ul>
            <div>
                <a class="nav-link text-white" href="/api/v1/book/book_register">New Book Register</a>
            </div>
        </div>
    </div>
</nav>
<div class="container text-center my-5">
    <h1>Welcome To Xerxes Book Store</h1>
    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet diam in dui tincidunt placerat. Maecenas
        lobortis ornare ornare. Sed vel imperdiet orci. Morbi eleifend hendrerit enim sit amet varius. Suspendisse
        vestibulum ex id justo consectetur ornare. Proin viverra malesuada velit, eu mollis urna pharetra eu. Fusce
        bibendum, lectus eu pulvinar scelerisque, risus nisl sagittis tortor, sit amet tempor tellus sem a ante. Sed
        egestas enim vel placerat fermentum. Ut non pellentesque nulla, nec egestas mauris. Nunc a molestie ex. Aenean
        nec dictum velit. Aenean efficitur eu sem nec fringilla.

        Nulla euismod sem urna, eu congue nunc cursus et. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos. Morbi auctor efficitur metus, ac scelerisque urna gravida at. Orci varius
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris dolor nulla, fermentum sed
        sagittis ac, tempor vel purus. Nullam porttitor fermentum tempor. Duis pharetra, est eget gravida sollicitudin,
        lectus ipsum tristique est, finibus molestie metus ex vel massa.</h6>

    <img src="/static/images/img5.jpg" width="400">
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>